.navigation {
    margin: 0;
    padding: 20px;

    &__list {
        display: flex;
        margin: 0;
        justify-content: space-around;
        padding: 0;
    }

    &__link {
        color: rgb(49, 49, 49);
        text-decoration: none;
    }
}

@media screen and (min-width: 768px){
    .navigation {
        background: transparentize(white, 0.5);
        border: 1px solid transparentize(white, 0.5);
        width: 90px;

        &__list {
            flex-direction: column;
        }

        &__link {
            margin-bottom: 25px;
            position: relative;
            transition: .2s all;
            width: 100%;

            &:hover {
                color: rgb(0, 0, 0);
            }

            &:active {
                transform: translateY(1px);
            }
        }

        &__link::after {
            color: rgba(255, 255, 255, 0.7);
            content: "\25B7";
            position: absolute;
            right: 0;
        }
        
    }
    
    @supports(backdrop-filter: none){
        .navigation {
                background: transparentize(white, 0.8);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
        }
    }
}
    